.login-section {
    background-color: #BDDDFC;
    display: flex;
    flex-direction: column;
    border: #384959 1px solid;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 20px 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
}

.login-section-title {
    font-size: 20px;
}

.login-section h1 {
    margin: 0;
    align-self: center;
    font-size: 30px;
}

.account-information {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.account-information a {
    font-size: 14px;
}